# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & temp
*.log
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
